<!DOCTYPE html>
<html>
<head>
  <title>Emails:</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    .email-container {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
    }
    .email-header {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .email-body {
      margin-bottom: 10px;
    }
    .email-footer {
      font-size: 14px;
      color: #888;
    }
  </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <h1>Email App</h1>

  <button class="btn btn-info" id="return-btn">Return</button>
  <div id="email-container"></div>
  <script>
       document.getElementById('return-btn').addEventListener('click', () => {
            window.location.href = 'load_emails';
        });
      let userID = localStorage.getItem('user_id');

      fetch(`http://127.0.0.1:8000/core/email_app/v1/email-messages/?user_id=${userID}`)
      .then(response => response.json())
      .then(data => {
        data.forEach(email => {
          const emailContainer = document.createElement('div');
          emailContainer.classList.add('email-container');

          const emailHeader = document.createElement('div');
          emailHeader.classList.add('email-header');
          emailHeader.textContent = `From: ${email.from_email} | To: ${email.to_email} | Subject: ${email.subject}`;

          const emailBody = document.createElement('div');
          emailBody.classList.add('email-body');
          emailBody.innerHTML = email.body; // Use innerHTML to render the HTML content

          const emailFooter = document.createElement('div');
          emailFooter.classList.add('email-footer');
          emailFooter.textContent = `Sent: ${email.sent_at} | Received: ${email.received_at}`;

          emailContainer.appendChild(emailHeader);
          emailContainer.appendChild(emailBody);
          emailContainer.appendChild(emailFooter);

          document.getElementById('email-container').appendChild(emailContainer);
        });
      })
      .catch(error => {
        console.error('Error fetching email messages:', error);
      });
  </script>
</body>
</html>